<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <a href="/geradordecpf">Gerador de CPF</a>
    <a href="/geradordecnpj">Gerador de CNPJ</a>
    <a href="/validacaodecpf">Validação de CPF</a>
    <a href="/validacaodecnpj">Validação de CNPJ</a>
    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>